---
# Front matter comment to ensure Jekyll properly reads file.
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "variables";
@import "bootstrap/bootstrap";

.wrapper {
	margin-top: 60px;
}

hr {
    margin-top: 4rem;
    margin-bottom: 4rem;
}


p {
	//font-size: 16px;
	
	&.s {
		font-size: 14px;
		line-height: 1.4em;
	}

	&.xs {
		font-size: 12px;
		line-height: 1.2em;
	}
}

i { color: #999;}
a { }

a:hover {
	text-decoration: none;
}
a p {color: #000;}
a h3,
a h4 {
	color: #2962FF;
}
a:hover h3 { text-decoration: underline;}
a:hover p {text-decoration: none;}

h1, h2, h3, h4 {

}
h1 {

	font-size: 2.25em;
	margin: 0;

	@media (min-width: 768px) {
		font-size: 3em;
	}

}
h2 {
	font-size: 1.8em;
}
.meta p {
	font-size: 14px;
		line-height: 1.2em;
		margin-bottom: 10px;
}
.btn {
	border-radius: 0;
}
.postdate {
	margin-bottom: 0px;
	font-size: .9em;
}
.content {
	img { 
		width: 100%;
		height: 100%;
		display: block;
		border-width: 1px;
		border-style: solid;
		border-color: #ddd;
		margin: 10px 0 30px 0;
		
		@media (min-width: 768px) {
	    	width: 70%;
			height: 70%;
		}
	}
}
.topic-title {
	font-weight: bold;
	margin: 5px 0;
	 @media (min-width: 768px) {
	 	font-size: 20px;
	 	margin: 10px 0;
	 }
}
.post-teaser {
	.fas {
		font-size: .8em;
	
	}
	margin-bottom: 40px;
	padding-bottom: 20px;
	border-width: 0 0 5px 0;
	border-color: #fff;
	border-style: solid;

}

.content-inner {
	background-color: #fff;
	padding: 20px;
}

#pagetop {
	background: #fff !important;
}

#navbar-pagenav {
	display: none;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #ECECEC;
}

.navbar-brand .fas {
	color: #2962FF;
}
.navbar a.navbar-brand {
	font-weight: bold;
}
.section {
	padding: 60px 0 40px 0;
	border-color: #ECECEC;
	border-width: 1px 0 0 0;
	border-style: solid;
	@media (min-width: 768px) {
	 	padding: 80px 0;
	}

	h2 {margin: 0 0 30px 0; }

	&.top {
		border:none;
	}
}

p.item-list {
	border-color: #ECECEC;
	border-width: 0 0 1px 0;
	border-style: dotted;
	padding-bottom:10px;
	margin-bottom: 10px;
}
.list-logo {
	width: 15px;
}

.imgfit {
	width: 100%;
}
.content {
	
}
.crumb {margin-bottom: 30px;}

p.tags {
	font-family: 'IBM Plex Mono', sans-serif;
	margin:10px 0 0 0;
	display: inline-block;
	span {
		border-color: #ECECEC;
		border-style: solid;
		border-width: 1px;
		padding: 3px 5px;
		margin-right: 2px;
		margin-bottom: 8px;
		display: inline-block;
		a {color: #444;}
	}
}
.filter-grid {

}
.btn.btn-default {
	border-radius:0;

	&:hover {text-decoration:underline;}
	
.button-group {
	.btn {
		display: inline-block;
		margin: 0 10px 10px 10px;
	}
}

}
#mc_embed_signup {
	padding: 0!important;
}
.response {
	margin-bottom: 15px;
}

#mc_embed_signup div.mce_inline_error {
	background-color: #666!important;
}
#mc_embed_signup input.mce_inline_error {
	border-color: #666!important;
}

.btn-primary {
	margin-bottom: 5px;
	&.is-checked { 
		background-color: #999;
		border-color: #666; 
	}
}

.top {
	padding: 40px 0 30px 0;
	@media (min-width: 768px) {
	 	padding: 80px 0 60px 0;
	}
	h1 {
		margin: 0 0 20px 0;
	}
}
.listing {
 h2 {
 	margin-top: 80px;
 	margin-bottom: 20px;
 }

 hr {
 	margin-bottom: 20px;
 }
}
.card {
	border-radius: 0;
	padding: 20px;
}
.grid-item {

	h3, h4 {
		margin-top: 0;
	}

	img.logo {
		float: right;
		width: 70px;
		margin: 0 0 0 15px;
		
		@media (min-width: 768px) {
    		width: 60px;
  		}
  		
  		@media (min-width: 1024px) {
    		width: 70px;
  		}
	}
	img.preview {
		width: 100%;
	}

	
}

.list-item {
	border-color: #ECECEC;
	border-width: 0 0 1px 0;
	border-style: solid;
	margin-bottom: 30px;
	padding-bottom: 30px;
}

.publication,
.tool {
	h1 img {
		width: 80px;
		margin-right: 20px;
	}
}

.linkblock {
	margin-top: 30px;
}
.read-item {
	margin-bottom: 20px;
	h3 {margin-top:0;}
	p.weblink a { color: #999; }
	&:last {margin-bottom:0;}
}

p.weblink {
	color: #444;
	font-family: 'IBM Plex Mono', sans-serif;
	a { color: #444; }
	img {
		margin-top: -2px;
	}
}


.modal-body {
	img {width: 100%;}
	p.author {
		margin: 15px 0 0 0;
	}
}
.modal-footer {
	text-align: left;
}

.block {
	margin-bottom: 30px;
	h3, h4 {
		margin-top: 0;
	}
	.block-inner {
		border-color:#ECECEC;
		border-width: 1px;
		border-style:solid;
		padding: 20px;
		background-color: #fff;
	}
}

.modal-content {
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	border: none;
}
.form-control {
	border-radius: 0;
}
.search-widget {
	position: relative;
	display: block;
	text-align: left;
	margin: 20px 0 0 0;
	.form-control {
		font-size: 20px;
		height: 50px;
	}
	#results-container {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;
		width: 100%!important;
		box-shadow: 0 6px 12px rgba(0,0,0,.175);
		p.no-results {
			padding: 10px 20px;
			margin: 0;
		}
		.result {
			padding: 10px 20px;
			background-color: #fff;
			p {margin: 0;}

		}
	}
}
.box {
	background-color: #EFEFEF;
	padding: 30px;
	h3 {margin-top: 0;}

	.form-control {
		width: 250px;
		margin-bottom: 10px;
		display: inline-block;
		border-radius: 5px 0 0 5px;
		border-width: 1px 0 1px 1px;
		float: left;
	}
	.btn.btn-primary {
		
	}

}
// Footer
.footer-wrap {
	margin-top: 100px;
}
.site-footer {
	background-color: #2962FF;
	color: #fff;
	padding: 20px 0;

	p {margin: 0;}
	a {color:#fff;}
	a:hover {
		color: #fff;
		text-decoration: underline;
	}
	nav {
		ul {
			margin: 0;
			padding: 0;
			li {
				list-style-type: none;
				padding-left: 20px;
			}
		}
	}
}

.sponsor {
	padding: 10px 0;
	background-color: #F5F5F5;
	p {margin: 0;}
	img {padding: 0 20px 0 0; }
}
.sub-footer {
	background-color: #0036ca;
	padding: 10px 0;
	text-align: right;
	p {
		 color: #fff;
		margin: 0;
		a {color: #fff;}
	}
}

