---
layout: default
title: UX Lift
description: A collection of the best articles, resources, books and tools, covering every aspect of the UX and design process.
image: /assets/site/uxlift-logo-card.jpg
---

<h2>Latest articles</h2>

<div class="row">
	{% assign t = site.topics | sort:'date' | reverse %}
	{% for item in t limit:4 %}

			{% include list-link.html %}

	{% endfor %}	
</div>

<p><a href="/topics">See all topics »</a></p>

<hr>

<h2>Explore topics</h2>

<div class="row">
	{% assign sorted_topics = site.topic-categories | sort:'title' %}
	{% for item in sorted_topics %}
		<div class="col-6 col-md-3 col-sm-4">	
		 	<p class="topic-title"><a href="{{ item.url }}">{{ item.title }}</a></p>
		</div>
	{% endfor %}	
</div>		

<hr>

<h2>Latest tools</h2>

<div class="row">
	{% assign tool = site.tools | sort:'date' | reverse %}
	{% for item in tool limit:6 %}
		{% include grid-item.html %}
	{% endfor %}	
</div>

<p><a href="/tools">See all tools »</a></p>

<hr>

<h2>Latest books</h2>

<div class="row">
	{% assign book = site.books | sort:'date' | reverse %}
	{% for item in book limit:3 %}
		{% include grid-item.html %}
	{% endfor %}
</div>

<p><a href="/books">See all books »</a></p>

<hr>



