---
layout: default
title: UX Lift
---

<div class="top">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 ">
				<div class="page-title">
					<h1 class="page-title">{{ site.description }}</h1>
					{% if page.intro %}<p class="lead">{{ page.intro }}</p>{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>


<div class="content">
	<div class="container">
		<div class="row">
			<div class="section">

			<div class="col-xs-12 ">
				<div class="block-inner">
					
					{% assign sorted = site.topics | sort:'date' | reverse %}
			{% for item in sorted limit: 10 %}
					{% include list-link.html %}
					{% endfor %}


					<div class="row">
						
					</div>
				</div>
			</div>

			

		</div></div>
		<div class="row">

			<div class="col-xs-12 col-sm-6 block">
				<a href="/books">
					<div class="block-inner" data-mh="item">
						<h3>Books</h3>
						<p>Essential books for every UX designer's library.</p>	
					</div>
				</a>
			</div>


			<div class="col-xs-12 col-sm-6 block">
				<a href="/topics">
					<div class="block-inner" data-mh="item">
						<h3>Tools</h3>
						<p>The best UX and design tools, software and services.</p>	
					</div>
				</a>
			</div>




		</div>		
	</div>
</div>





