---
layout: grid
title: Resources
permalink: /resources/
intro: Useful resources
searchtext: Search resources
category: resources
---

<div class="section bgg">
	<div class="container">
		<div class="row">
			
			{% for cat in site.resource-categories %}
					<div class="col-xs-12 col-sm-4 block">
						<a href="/resources/{{ cat.title | slugify }}">
							<div class="block-inner" data-mh="item">
								<h3>{{ cat.title }}</h3>
								<p>{{ cat.description }}</p>
							</div>
						</a>
					</div>
			{% endfor %}	
		</div>
	</div>
</div>


<div class="section">
	<div class="container">

		<div class="row">
			<div class="col-xs-12">
				<h3> Latest {{ page.category }}</h3>
			</div>
		</div>

		<div class="filter-grid row">
			{% assign sorted_items = site.resources | sort:'title' %}
			{% for item in sorted_items limit: 4 %}
				{% include grid-small.html %}
			{% endfor %}
		</div>

	</div>
</div>
