---
layout: grid
title: Topics
permalink: /topics/
intro: Concepts related to user experience design and usability
searchtext: Search topics

---
<div class="section bgg">
	<div class="container">
		<div class="row">
			{% assign sorted_topics = site.topic-categories | sort:'title' %}
			{% for topic in sorted_topics %}
				
					<div class="col-xs-12 col-sm-4 block">
						<a href="{{ topic.url }}">
							<div class="block-inner" data-mh="item">
								<h3>{{ topic.title }}</h3>
								<p>{{ topic.description }}</p>
							</div>
						</a>
					</div>
					
			{% endfor %}	
		</div>
	</div>
</div>

<div class="section bgw">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h3>Latest articles</h3>
			</div>
	{% assign sorted_items = site.topics | sort:'title' %}
	{% for item in sorted_items limit: 3 %}
		{% include grid-item.html %}
	{% endfor %}
		</div>
	</div>
</div>

