<div class="col-xs-12 col-sm-6 col-md-4 filter-item {% for tag in item.tags %}{{ tag | replace: ' ', '-' | append: ' ' }}{% endfor %}">
	<div class="grid-item" data-mh="col-text">
		
		<div class="grid-preview">
			<img class="preview" src="/assets/courses/{{ item.image }}" alt="{{ item.title }}"  data-toggle="modal" data-target="#{{ counter }}" />
		</div>
		

		<div class="grid-content">


				<h4 data-toggle="modal" data-target="#{{ counter }}" ><i class="fas fa-university"></i> {{ item.title }}</h4>		
			
			      <p>{{ item.description }}</p>	

		    <p class="tags xs">
		    {% for tag in item.tags %}
				<span>{{ tag }}</span>
			{% endfor %}
			<span> {{ item.institution }}</span>
			</p>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="{{ counter }}" tabindex="-1" role="dialog" aria-labelledby="listing">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title"></i>{{ item.title }}</h4>
						
					</div>

					<div class="modal-body">
						<div class="row">

							<div class="col-xs-12 col-md-6">
								<img class="preview" src="/assets/courses/{{ item.image }}" alt="{{ item.title }}" />
							</div>
							
							<div class="col-xs-12 col-md-6">

							    	
								<div class="meta">
								      <p><strong>Course type:</strong> {{ item.type }}</p>
								      <p><strong>Institution:</strong> {{ item.institution }}</p>
								      <p><strong>Qualification:</strong> {{ item.qualification }}</p>
								      <p><strong>Cost:</strong> {{ item.cost }}</p>
								</div>


							</div>
							<div class="col-xs-12">
								<p>{{ item.description }}</p>
								<p class="tags xs">
							    {% for tag in item.tags %}
									<span>{{ tag }}</span>
								{% endfor %}

								</p>
							</div>
						</div>
							
						
					</div><!--/modal-body-->

					<div class="modal-footer">

						<a class="btn btn-primary" href="{{ item.link }}" target="_blank" role="button">View course »</a>
					</div>

				</div>
			</div>
		</div>

	</div>
</div>




