<footer class="footer-wrap">
	<div class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-4">
					<p><a href="http://www.kevan.tv" target="_blank"><img src="{{ site.baseurl }}/assets/site/logo.svg" alt="Matt kevan"></a></p>
				</div>
			    <div class="col-xs-8">
			    	
			    </div>
			</div>
		</div>
	</div>

	<div class="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<p class="xs"><a href="https://www.iubenda.com/privacy-policy/78513725">Privacy policy</a> | <a href="https://www.iubenda.com/privacy-policy/78513725/cookie-policy">Cookie policy</a></p>
				</div>
			</div>
		</div>
	</div>

</footer>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.matchHeight-min.js"></script>
<!--<script src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script>
<script src="{{ site.baseurl }}/js/imagesloaded.pkgd.min.js"></script>-->
<script src="{{ site.baseurl }}/js/scripts.js"></script>