<footer class="footer-wrap">

	<div class="sponsor">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<p class="s"><a href="https://share.getf.ly/m23r4a" target="_blank" alt="Flywheel"><img src="/assets/images/flywheel-badge.png" /></a>Delightful managed WordPress hosting for designers and agencies.</p>

				</div>
			</div>
		</div>
	</div>

	<div class="site-footer">
		<div class="container">
			<div class="row">
		
				<div class="col-12 col-sm-4">
				</div>

			    <div class="col-12 col-sm-8 text-right">
			    	<nav>
				    	<ul>
				    		<li><a href="{{ site.baseurl }}/about">About us</a></li>
				    	</ul>
				    </nav>
			    </div>

			</div>
		</div>
	</div>

	<div class="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<p class="xs"><a href="https://www.iubenda.com/privacy-policy/78513725">Privacy policy</a> | <a href="https://www.iubenda.com/privacy-policy/78513725/cookie-policy">Cookie policy</a></p>
				</div>
			</div>
		</div>
	</div>

</footer>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/pagination.js"></script>
<script src="{{ site.baseurl }}/js/scripts.js"></script>
<script data-goatcounter="https://uxlift.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>