<div class="col-12 col-sm-6 col-lg-4 grid-item mb-3 mt-3 all
	{% if item.source %}
		{% for tag in item.source %}
			{{ tag | slugify }}
		{% endfor %}
	{% endif%}
">
	<div class="card h-100">

		<div class="grid-content">
			{% if item.image %}
			{% if item.image != "" %}
			<a href="{{ item.url }}" target="_blank">
				<img class="logo" src="{{ item.image }}" alt="{{ item.title }}" />
			</a>{% endif %}{% endif %}

			<h4><a href="{{ item.url }}">{{ item.title }}</a></h4>	      

			<p>{{ item.description }}</p>	
			{% if item.authors %}
				<p class="author s">{{ item.authors }}{% if item.year %}, {{ item.year }}{% endif %}</p>
			{% endif %}

			{% if item.source %}
				{% assign count = 0 %}
				{% for topic in site.topics %}
					{% if topic.site == item.title %}
						{% assign count = count | plus: 1 %}
					{% endif %}
				{% endfor %}
				{% if count == 0 %}

				{% elsif count == 1 %}
					<p class="featured s">{{ count }} featured article</p>
				{% else %}
					<p class="featured s">{{ count }} featured articles</p>
				{% endif %}
			{% endif %}
			
			{% if item.category %}
		    <p class="tags xs">
			    
			    {% for cat in item.category %}
					<span>{{ cat }}</span>
				{% endfor %}
				{% if item.source %}
					{% for src in item.source %}
						<span>{{ src }}</span>
					{% endfor %}
				{% endif %}

			</p>
			{% endif %}

		</div>
	</div>
</div>