{% assign has_articles = 'no' %}

{% for item in site.topics %}
	{% for cat in item.category %}
		{% if page.title == cat and item.type == 'Article'%}
			{% assign has_articles = 'yes' %}
		{% endif %}
	{% endfor %}
{% endfor %}



{% if has_articles == 'yes' %}
<div class="row">
	<div class="col-xs-12">
		<div class="section">
	
			<h2>Articles</h2>
		
			<div class="row">
				{% assign sorted_items = site.topics | sort:'title' %}
				{% for item in sorted_items %}
					{% for cat in item.category %}
						{% if page.title == cat and item.type == 'Article'%}
							{% include grid-link.html %}
						{% endif %}
					{% endfor %}
				{% endfor %}
			</div>
			
		</div>
	</div>
</div>
{% endif %}