{% assign has_resources = 'no' %}

{% for item in site.topics %}
	{% for cat in item.category %}
		{% if page.title == cat and item.type == 'Resource'%}
			{% assign has_resources = 'yes' %}
		{% endif %}
	{% endfor %}
{% endfor %}



{% if has_resources == 'yes' %}
<div class="row">
		<div class="section clearfix">
			<div class="col-xs-12">
				<h2>Resources</h2>
			</div>



				{% assign sorted_items = site.topics | sort:'title' %}
				{% for item in sorted_items %}
					{% for cat in item.category %}
						{% if page.title == cat and item.type == 'Resource'%}
							{% include grid-link.html %}
						{% endif %}
					{% endfor %}
				{% endfor %}

		</div>
	</div>
</div>
{% endif %}