{% assign has_articles = 'no' %}

{% for item in site.topics %}
	{% for cat in item.category %}
		{% if page.title == cat %}
			{% assign has_articles = 'yes' %}
		{% endif %}
	{% endfor %}
{% endfor %}



{% if has_articles == 'yes' %}
<h2>Articles</h2>	
				<div class="row" id="Articles">
					
						
					{% assign sorted_items = site.topics | sort:'date' | reverse %}
					{% for item in sorted_items %}
						{% for cat in item.category %}
							{% if page.title == cat %}
								
									{% include list-link.html %}
							
							{% endif %}
						{% endfor %}
					{% endfor %}
				
			</div>
					
<hr>
{% endif %}