{% assign has_plugins = 'no' %}

{% for item in site.plugin %}
	{% for cat in item.category %}
		{% if page.title == cat %}
			{% assign has_plugins = 'yes' %}
		{% endif %}
	{% endfor %}
{% endfor %}

{% if has_plugins == 'yes' %}
<div class="row" id="Plugins">
	<div class="col-12">
<h2>Plugins</h2>

{% assign sorted_items = site.plugin | sort:'title' %}
{% for item in sorted_items %}
	{% for cat in item.category %}
		{% if page.title == cat %}



				<p class="item-list"><a href="{{ item.link }}" target="_blank">

				{% for t in item.tool %}
					{% if t == "Sketch" %}
						<img class="list-logo" src="/assets/images/sketch.png" alt="Sketch" />
					{% elsif t == 'Figma' %}
						<img class="list-logo" src="/assets/images/Figma.png" alt="Figma" />
					{% elsif t == 'XD' %}
						<img class="list-logo" src="/assets/images/xd.png" alt="XD" />
					{% endif %}
				{% endfor %} 
				<strong> {{ item.title }}</strong></a> 

				 – {{ item.description }} </p>
	




		{% endif %}
	{% endfor %}
{% endfor %}
</div>
</div>

{% endif %}
