{% assign has_toolboxes = 'no' %}

{% for item in site.toolboxes %}
	{% for cat in item.category %}
		{% if page.title == cat %}
			{% assign has_toolboxes = 'yes' %}
		{% endif %}
	{% endfor %}
{% endfor %}

{% if has_toolboxes == 'yes' %}

	<h2 id="Toolboxes">Design toolboxes</h2>

	<div class="row">
		{% assign sorted_toolboxes = site.toolboxes %}
		{% for item in sorted_toolboxes %}
			{% for cat in item.category %}
				{% if page.title == cat %}
					{% include grid-item.html %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	</div>

{% endif %}