<nav class="navbar navbar-expand-sm navbar-light bg-light" id="pagetop">
	<div class="container">
		<a class="navbar-brand" href="/"><img src="/assets/site/uxlift-logo.svg" alt="{{ site.title }}" />{{ site.title }}</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">

			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/topics">Topics</a></li>
				<li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/books">Books</a></li>
				<li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/directory">Directory</a></li>
				<!--<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Publications 
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{{ site.baseurl }}/publications">Publications</a>
						<a class="dropdown-item" href="{{ site.baseurl }}/ux-teams">UX teams</a>
						<a class="dropdown-item" href="{{ site.baseurl }}/personal-blogs">Personal blogs</a>
						<a class="dropdown-item" href="{{ site.baseurl }}/company-blogs">Company blogs</a>
						<a class="dropdown-item" href="{{ site.baseurl }}/organisations">Organisations</a>
					</div>
				</li>-->
				<li class="nav-item"><a  class="nav-link" href="{{ site.baseurl }}/tools">Tools</a></li>
				<li class="nav-item"><a class="nav-link" href="https://uxlift.substack.com" target="_blank">Newsletter</a></li>
			</ul>
			
		</div>
	</div>
</nav>
