<nav class="navbar navbar-default" id="pagetop">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}/"><i class="fas fa-angle-double-up"></i> {{ site.title }}</a>
    </div>

     <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ site.baseurl }}/topics">Topics</a></li>
          <li><a href="{{ site.baseurl }}/books">Books</a></li>
          <li><a href="{{ site.baseurl }}/tools">Tools</a></li>
      
      </ul>

  
    </div>
  </div>
</nav>
