<nav class="navbar navbar-default off" id="pagetop">
  <div class="container">
    <div class="navbar-header">
    
      <a class="navbar-brand" href="{{ site.baseurl }}/"><i class="fas fa-angle-double-up"></i> {{ site.title }}</a>
    </div>

     <div id="navbar" class="navbar-collapse collapse off clearfix" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav navbar-right no-collapse">
          <li><a href="{{ site.baseurl }}/topics">Topics</a></li>
          <li><a href="{{ site.baseurl }}/books">Books</a></li>



          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Publications <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ site.baseurl }}/publications">Publications</a></li>
              <li><a href="{{ site.baseurl }}/ux-teams">UX teams</a></li>
              <li><a href="{{ site.baseurl }}/personal-blogs">Personal blogs</a></li>
              <li><a href="{{ site.baseurl }}/company-blogs">Company blogs</a></li>
              <li><a href="{{ site.baseurl }}/organisations">Organisations</a></li>
              </ul>
          </li>
          <li><a href="{{ site.baseurl }}/tools">Tools</a></li>
          <li><a href="{{ site.baseurl }}/newsletters">Newsletter</a></li>
      
      </ul>
      
    </div>
  </div>
</nav>
