<div class="filter-item {% for tag in item.tags %}{{ tag | replace: ' ', '-' | append: ' ' }}{% endfor %}">
	<div class="list-item" data-mh="col-text">

		{% if item.image %}
			<div class="grid-preview">
				<a href="{{ item.link }}" target="_blank"><img class="preview" src="/assets/{{ item.image }}" alt="{{ item.title }}" /></a>
			</div>
		{% endif %}

		<div class="grid-content">
		
			
			<h3><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></h3>	
			
			<p class="weblink s"><a href="{{ item.link }}" target="_blank">{{ item.site }}</a>


			{% if item.pubdate %}
				 – {{ item.pubdate | date: "%-d %B %Y" }}
			{% endif %}	</p>
			
			<p>{{ item.intro }}</p>	
			
			
			
		    <p class="tags xs">
		    	{% for cat in item.category %}<span>{{ cat }}</span>{% endfor %}
		    	{% for tag in item.tags %}<span>{{ tag }}</span>{% endfor %}
			</p>

		</div>

	</div>
</div>