	<div class="list-item">

		
			
			<h4><a href="{{ item.link }}/?ref=uxlift.org" target="_blank">{{ item.title }}</a></h4>	
			
			<p class="weblink s">

				{% if item.organisation %}
					{% for sites in site.publications %}
						{% if sites.path == item.organisation %}
							
							<a href="{{ sites.url }}">
					  	{% endif %}
					{% endfor %}
				{% endif %}

				

				{% if item.organisation %}
					{% for sites in site.publications %}
						{% if sites.path == item.organisation %}
							<img class="list-logo" src="{{ sites.image }}" alt="{{ sites.title }}" />
							{{ sites.title }}</a>
					  	{% endif %}
					{% endfor %}

				{% else%}

					{% if item.image %}
						<img class="list-logo" src="{{ item.image }}" alt="{{ item.title }}" />
					{% endif %}

					{{ item.site }}</a>

				{% endif %}

				{% for t in item.type %}
					{% if t == "Article" %} – {{ item.date | date: "%-d %B %Y" }}{% endif %}
				{% endfor %}

				{% if item.organisation %}
					</a>
				{% endif %}

			</p>
			
			<p>{{ item.description }}</p>	

		    <p class="tags xs">
		    	{% for cat in item.category %}<span><a href="/topics/{{ cat | slugify }}">{{ cat }}</a></span>{% endfor %}
		    	{% for t in item.tool %}<span><a href="/tools/{{ t | slugify}}">{{ t }}</a></span>{% endfor %}
			</p>

	</div>
