<div class="filter-item {% for tag in item.tags %}{{ tag | replace: ' ', '-' | append: ' ' }}{% endfor %}">
	<div class="list-item" data-mh="col-text">


		<div class="grid-content">
		
			
			<h4><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></h4>	
			
			<p class="weblink s">
				{% if item.image %}
					<img class="list-logo" src="{{ item.image }}" alt="{{ item.title }}" />
				{% endif %}
				<a href="{{ item.link }}" target="_blank">{{ item.site }}</a>
				{% for t in item.type %}
					{% if t == "Article" %} – {{ item.date | date: "%-d %B %Y" }}{% endif %}
				{% endfor %}
			</p>
			
			<p>{{ item.intro }}</p>	
			
		    <p class="tags xs">
		    	{% for cat in item.category %}<span>{{ cat }}</span>{% endfor %}
		    	{% for tag in item.tags %}<span>{{ tag }}</span>{% endfor %}
			</p>

		</div>

	</div>
</div>