{% assign has_plugins = 'no' %}
{% assign has_resources = 'no' %}
{% assign has_books = 'no' %}

{% for item in site.plugin %}
	{% for cat in item.category %}
		{% if page.title == cat %}
			{% assign has_plugins = 'yes' %}
		{% endif %}
	{% endfor %}
{% endfor %}

{% for item in site.topics %}
	{% for cat in item.category %}
		{% if page.title == cat and item.type == 'Resource'%}
			{% assign has_resources = 'yes' %}
		{% endif %}
	{% endfor %}
{% endfor %}


{% for item in site.books %}
	{% for cat in item.category %}
		{% if page.title == cat %}
			{% assign has_books = 'yes' %}
		{% endif %}
	{% endfor %}
{% endfor %}

{% assign has_toolboxes = 'no' %}

{% for item in site.toolboxes %}
	{% for cat in item.category %}
		{% if page.title == cat %}
			{% assign has_toolboxes = 'yes' %}
		{% endif %}
	{% endfor %}
{% endfor %}

{% assign has_resources = 'no' %}

{% for item in site.topics %}
	{% for cat in item.category %}
		{% if page.title == cat and item.type == 'Resource'%}
			{% assign has_resources = 'yes' %}
		{% endif %}
	{% endfor %}
{% endfor %}

{% assign has_tools = 'no' %}

{% for item in site.tools %}
	{% for cat in item.category %}
		{% if page.title == cat %}
			{% assign has_tools = 'yes' %}
		{% endif %}
	{% endfor %}
{% endfor %}


<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top" id="navbar-pagenav">
  <div class="container">
  	<a class="navbar-brand" href="#"> {{ page.title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">


<ul class="ml-auto navbar-nav"> 
				{% if page.title == 'Design systems' %}
					<li class="nav-item"><a href="#Systems" class="nav-link crollLink">Systems</a></li>
				{% endif %}

				<li class="nav-item"><a href="#Articles" class="nav-link scrollLink">Articles</a></li>

				{% if has_toolboxes == 'yes' %}
					<li class="nav-item"><a href="#Toolboxes" class="nav-link scrollLink">Design toolboxes</a></li>
				{% endif %}

				{% if has_resources == 'yes' %}
					<li class="nav-item"><a href="#Resources" class="nav-link scrollLink">Resources</a></li>
				{% endif %}

				{% if has_tools == 'yes' %}
					<li class="nav-item"><a href="#Tools" class="nav-link scrollLink">Tools</a></li>
				{% endif %}

				{% if has_books == 'yes' %}
					<li class="nav-item"><a href="#Books" class="nav-link scrollLink">Books</a></li>
				{% endif %}
				
				{% if has_plugins == 'yes' %}
					<li class="nav-item"><a href="#Plugins" class="nav-link scrollLink">Plugins</a></li>
				{% endif %}
		
				
			</ul> 
    
  </div>
</div>
</nav>

