<p class="tags xs">
			    	
	{% if item.org-type %}
		{% for org in site.organisation-types %}
			{% for type-path in item.org-type %}
	    		{% if  org.path == type-path %}
					<span><a href="{{ org.url }}">{{ org.short-title }}</a></span>
	    		{% endif [%}
			{% endfor %}
		{% endfor %}

	{% endif %}

	{% if item.course-type %}
		{% for type in site.course-types %}
			{% if type.path == item.course-type%}
				<span><a href="{{ type.url }}">{{ type.course-type }}</a></span>
			{% endif%}
		{% endfor %}
	{% endif %}

	{% if item.resource-type %}
		{% for res in site.resource-types %}
			{% for resource-path in item.resource-type %}
				{% if res.path == resource-path %}
					<span><a href="{{ res.url }}">{{ res.short-title }}</a></span>
				{% endif%}
			{% endfor %}
		{% endfor %}
	{% endif %}

	{% if item.level %}
		<span>{{ item.level }}</span>
	{% endif %}

	{% if item.category %}
	    {% for cat in item.category %}
			<span>{{ cat }}</span>
		{% endfor %}
	{% endif %}

</p>

