---
date: 2020-06-10 11:14:38 +0100
tool: ''
title: Using UX testing to dramatically improve your A/B testing results
description: We are used to thinking of A/B split testing as a way to improve UX and
  increase conversions. But it’s actually a two-way road. How you design your tests
  should be based on UX research – not on guesswork and intuition.
link: https://usabilitygeek.com/using-ux-testing-to-dramatically-improve-your-a-b-testing-results/
site: Usability Geek
image: "/assets/images/usabilitygeek.png"
category:
- User testing
- Optimisation
type: Article
preview: ''
directory: _directory/.md
---
