---
upload_path: "/assets"
frontmatter_file_url_template: "/assets"
body_file_url_template: "{{ site.baseurl }}/assets"
new_page_extension: md
auto_deploy: false
admin_path: "/admin"
webhook_url: 
collections: 
