---
layout: default
title: UX courses
permalink: /courses/
---
{% assign sorted_items = site.topic-categories | sort:'title' %}




<h2>Explore courses</h2>
<div class="row">
	{% assign filtered = site.courses | sort:'category' | map: 'category' | uniq %}
		{% for item in filtered %}
		<div class="col-6 col-md-3 col-sm-4">
			<p class="topic-title"><a href="/topics/{{ item | slugify }}#Courses">{{ item }}</a></p>
		</div>
	{% endfor %}
</div>
<hr>
<h2>Featured courses</h2>
<div class="row filter-grid">
	{% assign sorted_items = site.courses | sort: 'date' | reverse %}
	{% for item in sorted_items limit: 6 %}
		{% include grid-item.html %}
	{% endfor %}
</div>
<hr>
<h2>Learning providers</h2>
<div class="row filter-grid">
	{% assign sorted_items = site.organisations | where: 'org-type','_organisation-types/learning-provider.md' | sort: 'date' | reverse %}
	{% for item in sorted_items limit: 3 %}
		{% include grid-item.html %}
	{% endfor %}
</div>
<p><a href="/directory/learning-provider">See all learning providers »</a></p>
<hr>



