---
layout: default
title: UX directory
permalink: /directory/
description: 'Explore the wider world of UX, from communities to educational organisations, from publications to professional organisations.'

---
<h2>Explore the directory</h2>

<div class="row">
	{% assign sorted_items = site.organisation-types | sort:'title' %}
		{% for item in sorted_items %}
		<div class="col-6 col-md-3 col-sm-4">
			<p class="topic-title"><a href="{{ item.url }}">{{ item.title }}</a></p>
		</div>
	{% endfor %}
</div>

<hr>

<h2>Latest additions</h2>

<div class="row filter-grid">
	{% assign sorted_items = site.organisations | sort:'date' | reverse %}
	{% for item in sorted_items limit: 9%}
		{% include grid-item.html %}
	{% endfor %}
</div>
<hr>



