---
layout: default
title: UX education
permalink: /education/
---
<h2>Course types</h2>
<div class="row">
	{% assign sorted_items = site.course_types | sort:'title' %}
		{% for item in sorted_items %}
		<div class="col-6 col-md-3 col-sm-4">
			<p class="topic-title"><a href="{{ item.url }}">{{ item.title }}</a></p>
		</div>
	{% endfor %}
</div>
<hr>
<h2>Featured courses</h2>
<div class="row filter-grid">
	{% assign sorted_items = site.courses | sort: 'date' | reverse %}
	{% for item in sorted_items limit: 6 %}
		{% include grid-item.html %}
	{% endfor %}
</div>
<p><a href="/education/courses">See all courses »</a></p>
<hr>
<h2>Featured institutions</h2>
<div class="row filter-grid">
	{% assign sorted_items = site.institutions | sort: 'date' %}
	{% for item in sorted_items limit: 3 %}
		{% include grid-item.html %}
	{% endfor %}
</div>
<p><a href="/education/institutions">See all institutions »</a></p>



