---
layout: default
title: Publications
permalink: /publications/

---
<!--<div class="filters">
	<button type="button" class="btn btn-primary category-button active" data-filter = "all"> All </button>
	{% for tag in site.data.categories.source %}
		 <button type="button" class="btn btn-primary category-button" data-filter = "{{ tag | slugify }}"> {{ tag }} </button>
	{% endfor %}
</div> -->    
           

        
<div class="row filter-grid">
	{% assign sorted_items = site.organisations | where: 'org-type','_organisation-types/publication.md' | sort:'title' %}
	{% for item in sorted_items %}
		{% include grid-item.html %}
	{% endfor %}
</div>




