---
layout: default
title: Resources
permalink: /resources/
description: Recommended reading on UX, design and usability.
---

<h2>Resource types</h2>
<div class="row">
	{% assign sorted_items = site.resource-types | sort:'title' %}
		{% for item in sorted_items %}
		<div class="col-6 col-md-3 col-sm-4">
			<p class="topic-title"><a href="{{ item.url }}">{{ item.title }}</a></p>
		</div>
	{% endfor %}
</div>
<hr>

<div class="row">
	{% assign sorted_items = site.resources | sort:'title' %}
	{% for item in sorted_items %}
		{% include grid-link.html %}
	{% endfor %}
</div>




