---
layout: default
title: Resources
permalink: /resources/
description: Curated resources to help you develop your craft, from innovation toolkits to recommended books, fonts, icons, design principles, pattern libraries and much more.
---

<h2>Explore resources</h2>
<div class="row">
	{% assign sorted_items = site.resource-types | sort:'title' %}
		{% for item in sorted_items %}
		<div class="col-6 col-md-3 col-sm-4">
			<p class="topic-title"><a href="{{ item.url }}">{{ item.title }}</a></p>
		</div>
	{% endfor %}
</div>
<hr>
<h2>Latest additions</h2>
<div class="row">
	{% assign sorted_items = site.resources | sort:'date' %}
	{% for item in sorted_items limit:9 %}
		{% include grid-link.html %}
	{% endfor %}
</div>




