---
layout: default
title: Tools
permalink: /tools/
description: Recommended tools and services for your UX and design workflow.
section: Tools
---

<h2>Explore tools</h2>

<div class="row">
	{% assign sorted_items = site.tool-categories | sort:'title' %}
	{% for item in sorted_items %}
		<div class="col col-md-3 col-sm-4">
			<p class="topic-title"><a href="{{ item.url }}">{{ item.title }}</a></p>
		</div>
	{% endfor %}
</div>

<hr>

{% include newsletter-form.html %}

<hr>

<h2>Latest additions</h2>

<div class="row">
	{% assign tool = site.tools | sort:'date' | reverse %}
	{% for item in tool limit:9 %}
		{% include grid-item.html %}
	{% endfor %}	
</div>

