---
layout: default
---

<div class="page article">

<div class="top">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-push-1">
				
				<h1 class="title">{{ page.title }}</h1>
				<p class="lead">{{ page.intro }}</p>
			</div>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="col-xs-12 col-sm-10 col-sm-push-1 content-inner">
			<div class="f">
				
				{{ content }}

				<div class="block">
					<h4>Further reading</h4>
				   	{% for item in page.further-reading %}
				   		<ul>
					        <li class="read-item">
						        <p><strong><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></strong><br />
						        <span class="weblink"><a href="{{ item.url }}" target="_blank">{{ item.url | remove: 'http://' | remove: 'https://' }}</a></span></p>
					        </li>
				        </ul>
			      	{% endfor %}
			    </div>
			</div>
			</div><!--/col-->
		</div><!--/row-->
	</div><!--/container-->

</div><!--/page-->



