---
layout: default
---

<div class="page article">

	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-push-1">
					<p class="s"><a href="{{ site.baseurl }}/">Home</a> » <a href="{{ site.baseurl }}/books">Books</a> »</p>
					<h1 class="title">{{ page.title }}</h1>

				</div>
			</div>
		</div>
	</div>

	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-push-1 content-inner">
					<div class="row">

						<div class="col-xs-9 col-sm-8">
							<p class="lead">{{ page.intro}}</p>
							{{ content }}
					
							<p class="author"><strong>By:</strong> {{ page.authors }}</p>
							<p class="publisher"><strong>Publisher:</strong> {{ page.publisher }}, {{ page.pubdate }}</p>
							<a href="{{ page.link }}" target="_blank" class="btn btn-primary" role="button">View on Amazon</a>		
						</div>

						<div class="col-xs-3 col-sm-4">
							<img src="{{ site.baseurl}}/assets/images/{{ page.image }}" alt="{{ page.title }}" />
						</div>
					</div>
							
							
				</div><!--/col-->
			</div><!--/row-->
		</div><!--/container-->

</div><!--/page-->



