---
layout: default
---


<div class="row">

	<div class="col-12 col-md-8">
		{{ content }}
	</div>

	<div class="col-12 col-md-4">

		<div class="course-meta">

			<h3>Course details</h3>

			<p><strong>Institution</strong><br>
		
				{% for item in site.organisations %}
					{% if item.path == page.organisation %}
						<a href="{{ item.url }}"><img class="list-logo" src="{{ item.image }}" alt="{{ item.title }}" />
						{{ item.title }}</a>
				  	{% endif %}
				{% endfor %}
			</p>

						
			<p><strong>Course type</strong> <br>
				{% for item in site.course-types %}
					{% if item.path == page.course-type %}
						{{ item.course-type }}
					{% endif %}
				{% endfor %}
			</p>
			<p><strong>Level</strong> <br>{{ page.level }}</p>
			<p><strong>Qualification</strong> <br>{{ page.qualification }}</p>
			<p><strong>Length</strong> <br>{{ page.length }}</p>
			<p><strong>Cost</strong> <br>{{ page.cost }}</p>

		</div>
	</div>

</div>

<hr>

<h2>Related courses</h2>

<div class="row">
	{% for item in site.courses %}
		{% if item.organisation == page.organisation %}
			{% include grid-item.html %}	
		{% endif %}
	{% endfor %}
</div>



	



