---
layout: default
---
<div class="page grid">

	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="page-title">
						{% assign crumb = page.permalink | split: '/' %}
					<p class="s"><a href="{{ site.baseurl }}/">Home</a> » <a href="{{ site.baseurl }}/{{ crumb [1] }}">{{ crumb [1] | capitalize }}</a> »</p>
						<h1 class="page-title">{{ page.title }}</h1>
						{% for cat in site.data.courses %}
							{% if page.title == cat.title %}
								{% if cat.description %}<p class="lead">{{ cat.description }}</p>{% endif %}
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>


 {{ content }}

 	<div class="listing bgg">
		<div class="container">
			<div class="row filter-grid">
				{% assign sorted_items = site.courses | sort:'title' %}

				{% for item in sorted_items %}
					{% for cat in item.category %}
						{% if page.title == cat %}
							{% include grid-large-link.html %}
						{% endif %}
					{% endfor %}	
				{% endfor %}
			</div>
		</div>
	</div>

</div>





