<!DOCTYPE html>
<html>

	{% include head.html %}

	<body data-spy="scroll"  data-offset="30" data-target="#navbar-pagenav">
	    {% include header.html %}

	    <div class="wrapper {{ page.layout }}">
	    	<div class="container">
	    		<div class="row">
	    			<div class="col">
	    				{% unless page.url == '/' %}
	    				<p class="xs"><a href="/">Home </a> »
	    					{% assign url = page.url | remove_first: '/' | split: '/' %}
	    					{% if url[1] %}
	    					<a href="/{{ url[0] }}">{{ url[0] | capitalize }}</a> » 
	    					{% endif %}
	    				</p>
	    				{% endunless %}
	    				
	    				<h1>
	    					{% if page.image %}
								{% if page.image != '' %}
									<img src="{{ page.image }}" alt="{{ page.title }}" />
								{% endif %}
							{% endif %}
							{{ page.title }}
							
						</h1>


						
						{% if page.description %}
		    				{% if page.description != '' %}
		    					<p class="lead">{{ page.description }}</p>
		    				{% endif %}
	    				{% endif %}

	    				{% if page.category %}
						    <p class="fullpage tags xs">
							    
							    {% for cat in page.category %}
									<span>{{ cat }}</span>
								{% endfor %}
								{% if page.source %}
									{% for src in page.source %}
										<span>{{ src }}</span>
									{% endfor %}
								{% endif %}

							</p>
						{% endif %}

						{% if page.link %}
		    				{% if page.link != '' %}
		    					<a class="btn btn-primary" href="{{ page.link }}/?ref=uxlift.org" target="_blank">Visit site »</a>
		    				{% endif %}
	    				{% endif %}

	    				<hr>

	    				{% assign if_content = content | strip_newlines %}
						{% if if_content != "" %}
						    {{ content }}
					    {% endif %}
	    				
					</div>
				</div>
			</div>
		</div>

	    {% include footer.html %}

	</body>
</html>
