<!DOCTYPE html>
<html>

	{% include head.html %}

	<body data-spy="scroll"  data-offset="30" data-target="#navbar-pagenav">
	    {% include header.html %}

	    <div class="wrapper {{ page.layout }}">
	    	<div class="container">
	    		<div class="row">
	    			<div class="col">
	    				{% unless page.url == '/' %}
	    				<p class="xs"><a href="/">Home </a> »
	    					{% assign url = page.url | remove_first: '/' | split: '/' %}
	    					{% if url[1] %}
	    					<a href="/{{ url[0] }}">{{ url[0] | capitalize }}</a> » 
	    					{% endif %}
	    				</p>
	    				{% endunless %}
	    				
	    				<h1>
	    					{% if page.image and page.url !='/' %}
								{% if page.image != '' %}
									<img src="{{ page.image }}" alt="{{ page.title }}" />
								{% endif %}
							{% endif %}
							{{ page.title }}
							
						</h1>


						
						{% if page.description %}
		    				{% if page.description != '' %}
		    					<p class="lead">{{ page.description }}</p>
		    				{% endif %}
	    				{% endif %}

	    				<p class="fullpage tags xs">
			    	
							{% if page.org-type %}
								{% for org in site.organisation-types %}
									{% for type-path in page.org-type %}
							    		{% if  org.path == type-path %}
											<span><a href="{{ org.url }}">{{ org.short-title }}</a></span>
							    		{% endif [%}
									{% endfor %}
								{% endfor %}

							{% endif %}

							{% if page.course-type %}
								{% for type in site.course-types %}
									{% if type.path == page.course-type%}
										<span><a href="{{ type.url }}">{{ type.course-type }}</a></span>
									{% endif%}
								{% endfor %}
							{% endif %}

							{% if page.resource-type %}
								{% for res in site.resource-types %}
									{% for resource-path in page.resource-type %}
										{% if res.path == resource-path %}
											<span><a href="{{ res.url }}">{{ res.short-title }}</a></span>
										{% endif%}
									{% endfor %}
								{% endfor %}
							{% endif %}

							{% if page.level %}
								<span>{{ page.level }}</span>
							{% endif %}

							{% if page.category %}
							    {% for cat in page.category %}
									<span>{{ cat }}</span>
								{% endfor %}
							{% endif %}

						</p>

						{% if page.link %}
		    				{% if page.link != '' %}
		    					<a class="btn btn-primary" href="{{ page.link }}/?ref=uxlift.org" target="_blank">Visit site »</a>
		    				{% endif %}
	    				{% endif %}

	    				<hr>

	    				{% assign if_content = content | strip_newlines %}
						{% if if_content != "" %}
						    {{ content }}
					    {% endif %}
	    				
					</div>
				</div>
			</div>
		</div>

	    {% include footer.html %}

	</body>
</html>
