---
layout: default
---
<div class="page home">

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-push-2">
				<h1 class="page-title">On product design, usability and user experience.</h1>
			</div>				
			<div class="col-xs-12 col-md-10 col-lg-8">
				{% for post in site.posts %}
					<h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
					<p class="postdate">{{ post.date | date: "%d %B %Y" }}</p>
					<p class="lead">{{ post.intro }}</p>
					{{ post.excerpt }}
					<p><a href="{{ post.url | prepend: site.baseurl }}">Read more »</a></p>
				{% endfor %}
			</div>
		</div>
	</div>

</div>



