---
layout: default
---
<div class="page home">

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-lg-8">
				<h1>Hello</h1>
				<p class="lead">I'm <a href="http://www.kevan.tv" target="_blank">Matt Kevan</a>, a London-based UX designer.</p>
				<p class="lead">This is a collection of <a href="concepts">concepts</a>, <a href="techniques">techniques</a>, <a href="software">software</a> and <a href="books">books</a> I find useful in my UX practice.</p> <p class="lead">I hope you'll find them useful too.</p>
			</div>
		</div>
	</div>

</div>



