---
layout: default
---

<div class="banner home">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>UX Methods</h1>
				<p class="lead">Concepts, techniques and resources for creating great user eperiences.</p>
			</div>
		</div>
	</div>
</div>


<div class="card white">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<img src="/assets/11.jpg" />
			</div>
			<div class="col-xs-12 col-sm-6">
				<h2>Concepts</h2>
				<p class="lead">Concepts related to user experience design and usability</p>
				<a href="/concepts">Explore the concepts</a>
			</div>
		</div>
	</div>
</div>

<div class="card">
	<div class="container">
		<div class="row">
			
			<div class="col-xs-12 col-sm-6">
				<h2>Techniques</h2>
				<p class="lead">Techniques to use during the UX design process</p>
				<a href="/concepts">Explore the techniques</a>
			</div>

			<div class="col-xs-12 col-sm-6">
				<img src="/assets/6.jpg" />
			</div>
		</div>
	</div>
</div>

<div class="card white">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<img src="/assets/6.jpg" />
			</div>			
			<div class="col-xs-12 col-sm-6">
				<h2>Techniques</h2>
				<p class="lead">Techniques to use during the UX design process</p>
				<a href="/concepts">Explore the techniques</a>
			</div>


		</div>
	</div>
</div>




