---
layout: default
---
<div class="page grid">

	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="page-title">
						{% assign crumb = page.permalink | split: '/' %}
					<p class="s"><a href="{{ site.baseurl }}/">Home</a> » <a href="{{ site.baseurl }}/{{ page.section | slugify }}">{{ page.section }}</a> »</p>
						<h1 class="page-title">{{ page.title }}</h1>
						<p class="lead">{{ page.description }}
					</div>
				</div>
			</div>
		</div>
	</div>


 	<div class="section bgg">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
				</div>

				{% assign pageurl = page.permalink | split: '/' %}
				{% for item in site.pages %}
					{% assign itemurl = item.url | split: '/' %}
					{% if pageurl[1] == itemurl[1] and pageurl[2] == itemurl[2] and item.layout != 'hub2' %}
						{% include grid-hub.html %}
					{% endif %}	
				{% endfor %}	


			</div>
		</div>
	</div>

</div>





