---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="page article">

	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-push-1">
					
					<h1 class="title"><a href="{{ page.link }}">{{ page.title }}</a></h1>

				</div>
			</div>
		</div>
	</div>

	<div class="content">
		<div class="container">
			<div class="col-xs-12 col-sm-10 col-sm-push-1 content-inner post-content" itemprop="articleBody"">

					{{ content }}
					
					<p class="post-meta s"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
					
				</div><!--/col-->
			</div><!--/row-->
		</div><!--/container-->

	</div><!--/page-->

</article>


  

