---
layout: default
---

{% assign con = content | strip_newlines %}
{% if con != "" %}

	<div class="row">
		<div class="col col-sm-10 col-sm-offset-1">
			{{ content }}
		</div>
	</div>

	<hr>

{% endif %}






{% assign has_courses = 'no' %}

{% for item in site.courses%}
	{% if item.organisation == page.path %}
		{% assign has_courses = 'yes' %}
	{% endif %}
{% endfor %}


<!-- Articles -->

{% assign has_articles = 'no' %}

{% for item in site.topics %}
	{% if item.organisation == page.path %}
			{% assign has_articles = 'yes' %}
	{% endif %}
{% endfor %}

{% if has_articles == 'yes' %}
	
	<h2>Articles</h2>

	<div class="row">
		<div class="col-12 col-md-8">
			{% assign sorted_items = site.topics | sort:'date' | reverse %}
			{% for item in sorted_items %}
				{% if item.organisation == page.path %}
					{% include list-link.html %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
	
{% endif %}

{% if has_courses == 'yes' %}

<h2>Courses</h2>
<!--<div class="filters">
	<label>Level</label>
	 <button type="button" class="btn btn-primary category-button active" data-filter = "all"> All </button>

{% for item in site.courses%}
	{% capture items %}
	{% for cat in item.category %}

	{{ cat }},

	{% endfor %}
		{% endcapture %}
	{% endfor %}

		
{% assign filtered_items = items | split: ', '  %}

{% for tag in filtered_items %}
<p>{{ tag }}</p>
{% endfor %}


 	<button type="button" class="btn btn-primary category-button" data-filter = "{{ f }}"> {{ f }} </button>

 </div>  -->
<div class="row">
{% assign sorted_items = site.courses | sort:'title' %}
{% for item in sorted_items %}
	{% if item.organisation == page.path %}
		{% include grid-item-small.html %}
	{% endif %}
{% endfor %}
</div>
<p><a href="/courses">See all courses »</a></p>
   

		{% endif %}



<hr>
		
{% include newsletter-form.html %}
		






