---
layout: default
---

{% assign con = content | strip_newlines %}
{% if con != "" %}

	<div class="row">
		<div class="col col-sm-10 col-sm-offset-1">
			{{ content }}
		</div>
	</div>

	<hr>

{% endif %}

<h2>Featured articles</h2>

<div class="row">
	<div class="col-12 col-sm-8">


		{% assign sorted_items = site.topics | sort:'date' | reverse %}
		{% for item in sorted_items %}
			{% if item.site_reference == page.path %}
					{% include list-link.html %}
			{% endif %}
		{% endfor %}
	</div>
</div>

<hr>
		
{% include newsletter-form.html %}
		






