---
layout: default
---

{% assign con = content | strip_newlines %}
{% if con != "" %}
	<div class="row">	
		<div class="col-12 col-sm-8">
				{{ content }}
		</div>
	</div>

	<hr>
{% endif %}
<a href="/admin/#/edit/tools/{{page.path | replace: '_tools/' | replace: '.md' }}" target="_blank" rel="noopener noreferrer"><svg version="1.1" id="pencil" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="14px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"><path d="M398.875,248.875L172.578,475.187l-22.625-22.625L376.25,226.265L398.875,248.875z M308.375,158.39L82.063,384.687 l45.266,45.25L353.625,203.64L308.375,158.39z M263.094,113.125L36.828,339.437l22.625,22.625L285.75,135.765L263.094,113.125z M308.375,67.875L285.719,90.5L421.5,226.265l22.625-22.625L308.375,67.875z M376.25,0L331,45.25l135.75,135.766L512,135.781 L376.25,0z M32,453.5V480h26.5L32,453.5 M0,376.25L135.766,512H0V376.25L0,376.25z"></path></svg> Edit this page</a>



{% assign has_articles = 'no' %}

{% for item in site.topics %}
	{% for cat in item.tool %}
		{% if page.title == cat and item.type == 'Article'%}
			{% assign has_articles = 'yes' %}
		{% endif %}
	{% endfor %}
{% endfor %}

{% include newsletter-form.html %}

<hr>

{% if has_articles == 'yes' %}

	<div class="row" id="Articles">
		<div class="col-12 col-md-8">
			<h2>Articles</h2>		
			{% assign sorted_items = site.topics | sort:'date' | reverse %}
			{% for item in sorted_items %}
				{% for cat in item.tool %}
					{% if page.title == cat and item.type == 'Article'%}
						{% include list-link.html %}
					{% endif %}
				{% endfor %}
			{% endfor %}
		</div>
	</div>

{% endif %}				

{% assign has_courses = 'no' %}

{% for item in site.courses %}
	{% if page.path == item.tool %}
		{% assign has_courses = 'yes' %}
	{% endif %}
{% endfor %}

{% if has_courses == 'yes' %}

	<h2>Related courses</h2>

	<div class="row" id="Courses">
			
		{% assign sorted_items = site.courses | sort:'title' %}
		{% for item in sorted_items %}
			{% if page.path == item.tool %}
				{% include grid-item.html %}
			{% endif %}
		{% endfor %}
	</div>

{% endif %}

<hr>
		
<h2>Alternatives to {{ page.title }}</h2>
		
<div class="row">
	{% assign sorted_items = site.tools | sort:'title' %}
	{% assign alt = page.category %} 
	{% for item in sorted_items %}
		{% for cat in item.category %}
			{% if cat == alt[0] and page.title != item.title %}
				{% include grid-item.html %}
			{% endif %}
		{% endfor %}	
	{% endfor %}
</div>




