---
layout: default
---

{% assign con = content | strip_newlines %}
{% if con != "" %}
	<div class="row">	
		<div class="col col-sm-8">
				{{ content }}
		</div>
		<div class="col col-sm-4">
		</div>
	</div>
	<hr>
{% endif %}
		
<h2>Alternatives to {{ page.title }}</h2>
		
<div class="row">
	{% assign sorted_items = site.tools | sort:'title' %}
	{% assign alt = page.category %} 
	{% for item in sorted_items %}
		{% for cat in item.category %}
			{% if cat == alt[0] and page.title != item.title %}
				{% include grid-item.html %}
			{% endif %}
		{% endfor %}	
	{% endfor %}
</div>




