---
layout: default
---
<div class="page grid">

	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="page-title">
						{% assign crumb = page.permalink | split: '/' %}
					<p class="s"><a href="{{ site.baseurl }}/">Home</a> » <a href="{{ site.baseurl }}/topics">Topics</a> »</p>
						<h1 class="page-title">{{ page.title }}</h1>
						<p class="lead">{{ page.description }}
					</div>
				</div>
			</div>
		</div>
	</div>


 	<div class="section bgg">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
				</div>
				
			{% for cat in site.pages %}
			{% if page.id == cat.parent %}
				
					<div class="col-xs-12 col-sm-4 block">
						<a href="{{ cat.url }}">
							<div class="block-inner" data-mh="item">
								<h3>{{ cat.title }}</h3>
								<p>{{ cat.description }}</p>
								
							</div>
						</a>
					</div>
			{% endif %}
					
			{% endfor %}	


			</div>
		</div>
	</div>

</div>





