---
layout: default
---

<div class="page article">

<div class="top">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<p class="s"><a href="{{ site.baseurl }}/">Home</a> » <a href="{{ site.baseurl }}/topics">Topics</a> »</p>
				<h1 class="title">{{ page.title }}</h1>
				<p class="weblink">
				{% if page.image %}
					<img class="list-logo" src="{{ page.image }}" alt="{{ page.title }}" />
				{% endif %}
				<a href="{{ page.link }}" target="_blank">{{ page.site }}</a>
				{% for t in page.type %}
					{% if t == "Article" %} – {{ page.date | date: "%-d %B %Y" }}{% endif %}
				{% endfor %}
			</p>
				<p class="lead">{{ page.intro }}</p>
				<a class="btn btn-primary" href="{{ page.link }}" target="_blank">View {{ page.type | downcase }} »</a>

			</div>
		</div>
	</div>
</div>


<div class="container">
	{% if content %}
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-push-1">
				{{ content }}
			</div>
		</div>
	{% endif%}
</div>
	






</div><!--/page-->



