---
layout: default
---

<div class="page article">

<div class="top">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<p class="s"><a href="{{ site.baseurl }}/">Home</a> » <a href="{{ site.baseurl }}/topics">Topics</a> »</p>
				<h1 class="title">{{ page.title }}</h1>
				<p class="lead">{{ page.intro }}</p>
			</div>
		</div>
	</div>
</div>

<div class="container">
		{% if content %}
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-push-1">
				{{ content }}
			</div>
		</div>


		{% endif%}
	</div>
	
<div class="content">
<div class="container">


		<div class="row ">

			   	{% for item in page.further-reading %}
			   		<div class="col-xs-12 col-sm-4">
				        <div class="content-inner read-item">
					        <h4><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></h4>
					        <p>{{ item.intro }}</p>
					        {% assign weblink = item.url | remove: 'http://' | remove: 'https://' | remove: 'www.' | split: '/' %}
					        <p class="weblink"><a href="{{ item.url }}" target="_blank"><i class="fas fa-globe-americas"></i> {{ weblink | first }}</a></p>
				        </div>
				    </div>

		      	{% endfor %}


		</div><!--/row-->
	</div><!--/container-->
</div><!--/content-->







</div><!--/page-->



